:root {
  --controls-height: 3em;
  --background: #202124;
  --background2: #28292d;
  --middleground: #777777;
  --foreground: #e5e5e5;
  --full: calc(var(--vh, 1vh) * 100);
  --limit: 600px;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background);
  min-height: 100vh;

  font-family: sans-serif;
  color: var(--foreground);
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

a.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  fill: var(--foreground);
  overflow: hidden;
}

.unsupported {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  text-align: center;
}
.unsupported a {
  color: white;
  font-weight: bold;
}

.container {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.limit {
  width: 100%;
  max-width: var(--limit);
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none !important;
}

/** STUFF ABOVE IS STANDARD FRAMEWORK **/

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.main img {
  display: block;
  max-height: 30vh;
  padding: 30px 0;
}
.main .info {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}
.main .info .row {
  padding: 10px 0;
  display: flex;
}
.main .info .row:nth-child(even) {
  background: var(--background2);
}
.main .info .cell {
  padding: 0 10px;
  word-wrap: break-word;
}
.main .info .cell.key {
  width: 35%;
  text-align: right;
  opacity: 0.5;
  font-size: 0.9em;
}
.main .info .cell.value {
  width: 65%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  .main .info .row {
    flex-direction: column;
  }

  .main .info .cell.cell {
    text-align: left;
    width: 100%;
  }
  .main .info .cell.value {
    padding-top: 10px;
    padding-left: 20px;
  }
}

/* TOAST STYLE */

.toastify.toastify.toastify {
  max-width: calc(100% - 20px);
  text-align: center;
}
